body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #c41717;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: #f4f4f4;
  width: 600px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

h1 {
  color: #b71c1c;
  margin-bottom: 10px;
}

.top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
  color: #b71c1c;
}

.pregunta {
  margin: 20px 0;
  font-size: 18px;
}

.opciones button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid #b71c1c;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #b71c1c;
  transition: 0.2s;
}

.opciones button:hover {
  background: #ffe5e5;
}

.correcta {
  background: #4caf50 !important;
  color: white !important;
  border: none !important;
}

.incorrecta {
  background: #e53935 !important;
  color: white !important;
  border: none !important;
}

.resultado {
  margin-top: 15px;
}

.btn-siguiente {
  padding: 10px 15px;
  border: none;
  background-color: #b71c1c;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn-siguiente:hover {
  background-color: #8e0000;
}

.oculto {
  display: none;
}
.resultado-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.medalla {
  font-size: 60px;
  margin-bottom: 10px;
}

.resultado-datos p {
  font-size: 18px;
}

.barra-contenedor {
  background: #eee;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  margin: 20px 0;
}

.barra-progreso {
  height: 100%;
  transition: width 1s ease;
}

.mensaje-final {
  margin: 15px 0;
  font-size: 16px;
}

.btn-video {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 5px;
  transition: transform 0.2s;
}

.btn-video:hover {
  transform: scale(1.05);
}

.btn-inicio {
  background: #b71c1c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-inicio:hover {
  background: #8e0000;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
